# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ofeki\OneDrive - Technion\Technion\סמסטר ב\הנדסת תוכנה  - 094219\שיעורי בית\HW2_313951451_318402765\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
